aiohttp==2.3.7
async-timeout==2.0.0
asyncio==3.4.3
beautifulsoup4==4.6.0
bs4==0.0.1
certifi==2017.11.5
chardet==3.0.4
discord==0.0.2
discord.py==0.16.12
idna==2.6
multidict==4.0.0
PyMySQL==0.8.0
requests==2.18.4
urllib3==1.22
websockets==4.0.1
